<div ng-repeat="a in actives">
	<h2>{{a.title}}</h2>
	<p>Created: {{a.createdAt | date: "EEEE, MMMM d, y h:mm:ss a"}}</p>
	<p>Due Date: {{a.due | date: "EEEE, MMMM d"}}</p>
	<p>{{a.details}}</p>
	<button class="btn btn-primary btn-sm" ui-sref="home.todo.edit({id: a._id})">Edit Task</button>
	<button class="btn btn-primary btn-sm" ng-click="updateProgress = !updateProgress" >Update Progress</button>
	<button class="btn btn-primary btn-sm" ng-click="completeTask(a._id)">Mark Completed</button>

	<div ng-show="updateProgress">
		<form>
			Update: <input ng-model="thisTask.progress.message" placeholder="update on task progress">
			<input type="submit" value="Submit" ng-click="updateTaskProgress(a._id, thisTask)">	
		</form>
	</div>
	<div ng-repeat="p in a.progress">
		<p>{{p.message}}</p>{{p.updated | date: "EEEE, MMMM d, y h:mm:ss a"}}
		<hr>
	</div>
	<hr>
</div>