<div class="jumbotron section-1">
	<div id="nav-contain">
		<h2>COMPLETED TASKS</h2>
	</div>
</div>

<div class="mainer-contain">
	<div class="jumbotron section-4">
		<div id="nav-contain">
			<div class="well" ng-repeat="c in completeds">
				<div>
					<h2>{{c.title}}</h2>
				</div>
				<div class="btn-group">
					<button class="btn news-buttonz btn-sm" data-toggle="tooltip" title="Reactivate Task"ng-click="reactivateTask(c._id)"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
					<button class="btn news-buttonz btn-sm" data-toggle="tooltip" title="Remove Task"ng-click="deleteTask(c._id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				</div>
				<h6 class="task-date">Completed: {{c.updatedAt | date: "MMM d, y - h:mm a"}}</h6>
				<div ng-show="c.details">
					<h4 class="task-heading">Details</h4>
					<h5>{{c.details}}</h5>
					<br>
				</div>
				<div ng-show="c.progress[0].message">
					<h4 class="task-heading">Updates</h4>
					<div ng-repeat="p in c.progress">
						<div class="row">
							<div class="col-md-9">
								<h5>{{p.message}}</h5>
							</div>
							<div class="col-md-3">
								<h6 class="task-date">{{p.updated | date: "MMM d, y - h:mm a"}}</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>