<!-- <a href="/api/auth/facebook"><button class="btn btn-primary btn-lg">CONNECT WITH FACEBOOK</button></a> -->
<a href="/api/auth/twitter"><button class="btn btn-primary btn-lg">CONNECT WITH TWITTER</button></a>
<!-- <a href="/api/auth/instagram"><button class="btn btn-primary btn-lg">CONNECT WITH INSTAGRAM</button></a>
<a href="/api/auth/tumblr"><button class="btn btn-primary btn-lg">CONNECT WITH TUMBLR</button></a>
<a href="/api/auth/reddit"><button class="btn btn-primary btn-lg">CONNECT WITH REDDIT</button></a> -->






