<div class="login-contain">
	<div class="button-container">
		<!-- <div><a href="/api/auth/facebook"><button class="btn btn-primary btn-lg">CONNECT WITH FACEBOOK</button></a></div> -->
		<div><a href="/api/auth/twitter" role="button"><button class="btn btn-lg buttonz">LOGIN with TWITTER</button></a></div>
	<!-- 	<br>
		<div><a href="/api/auth/instagram" role="button"><button class="btn btn-lg buttonz">LOGIN with INSTAGRAM</button></a></div>
		<br>
		<div><a href="/api/auth/tumblr" role="button"><button class="btn btn-lg buttonz">LOGIN with TUMBLR</button></a></div>
		<br>
		<div><a href="/api/auth/reddit" role="button"><button class="btn btn-lg buttonz">LOGIN with REDDIT</button></a></div> -->
	</div>
</div>




