<a href="/api/connect/facebook"><button class="btn btn-lg btn-primary" ng-if="!currentUser.facebook">ADD FACEBOOK</button></a>
<a href="/api/connect/twitter"><button class="btn btn-lg btn-primary" ng-if="!currentUser.twitter">ADD TWITTER</button></a>
<a href="/api/connect/instagram"><button class="btn btn-lg btn-primary" ng-if="!currentUser.instagram">ADD INSTAGRAM</button></a>
<a href="/api/connect/tumblr"><button class="btn btn-lg btn-primary" ng-if="!currentUser.tumblr">ADD TUMBLR</button></a>
<a href="/api/connect/reddit"><button class="btn btn-lg btn-primary" ng-if="!currentUser.reddit">ADD REDDIT</button></a>
<button class="btn btn-lg btn-primary" ui-sref="home.dashboard">CONTINUE TO HOMEPAGE</button>
<button class="btn btn-lg btn-primary" ui-sref="logout">LOGOUT</button>
<div ng-show="currentUser.facebook.id">
	<h2>FACEBOOK</h2>
	<p>{{currentUser.facebook.id}}</p>
</div>
<div ng-show="currentUser.twitter.username">
	<h2>TWITTER</h2>
	<p>{{currentUser.twitter.username}}</p>
</div>
<div ng-show="currentUser.instagram.username">
	<h2>INSTAGRAM</h2>
	<p>{{currentUser.instagram.username}}</p>
</div>
<div ng-show="currentUser.tumblr.username">
	<h2>TUMBLR</h2>
	<p>{{currentUser.tumblr.username}}</p>
</div>
<div ng-show="currentUser.tumblr.username">
	<h2>REDDIT</h2>
	<p>{{currentUser.reddit.username}}</p>
</div>
