<div class="mainer-contain">
	<div class="row">
		<div class="col-sm-6 abc">
			<div class="jumbotron section-twitter">
				<div id="nav-contain">
					<a target="_blank" class="on-point no-decoration" href="https://www.twitter.com"><h2 class="twit-title no-decoration">TWITTER</h2></a>
					<twitter-tweet></twitter-tweet>
					<br>
					<twitter-timeline></twitter-timeline>
				</div>
			</div>
		</div>

		
		<div class="col-sm-6 abc">
			<div class="jumbotron section-6">
				<div id="nav-contain">
					<form class="form-inline">
						<div class="form-group">
							<h2 class="on-point" ui-sref="home.todo.active">TO-DO LIST </h2>
						</div>
						<button type="button" class="btn news-buttonz btn-xs" id="task-button" ui-sref="home.todo.add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
					</form>
					<active-tasks></active-tasks>
				</div>
			</div>


			<div class="jumbotron section-2">
				<div id="nav-contain">
					<h2 class="on-point" ui-sref="home.news.all">NEWS</h2>
					<div class="well">
						<div ng-show="!showMoreNews">
							<div ng-repeat="w in world|limitTo:5">
								<a target="_blank" href="{{w.url}}"><h4>{{w.title}}</h4></a>
							</div>
							<div ng-repeat="n in national|limitTo:5">
								<a target="_blank" href="{{n.url}}"><h4>{{n.title}}</h4></a>
							</div>
						</div>

						<div ng-show="showMoreNews">
							<div ng-repeat="w in world|limitTo:10">
								<a target="_blank" href="{{w.url}}"><h4>{{w.title}}</h4></a>
							</div>
							<div ng-repeat="n in national|limitTo:10">
								<a target="_blank" href="{{n.url}}"><h4>{{n.title}}</h4></a>
							</div>
						</div>
						<button class="btn btn-block news-buttonz" ng-click="showMoreNews = !showMoreNews">SHOW/HIDE MORE HEADLINES</button>
					</div>
				</div>
			</div>


			<div class="jumbotron section-4">
				<div id="nav-contain">
					<form class="form-inline">
						<div class="form-group">
							<h2 class="on-point" ui-sref="home.weather.current">WEATHER </h2>
						</div>
						<button ng-show="w.alerts" class="btn btn-danger btn-sm" ng-click="showAlert = !showAlert" ><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></button>
					</form>
					<hr>
					<div ng-show="showAlert" ng-repeat="alert in w.alerts">
						<h3>{{alert.title}}</h3>
						<h4>{{alert.description}}</h4>
						<hr>
					</div>
					<h3 class="on-point" ui-sref="home.weather.current">CURRENT</h3>
					<current-weather></current-weather>
					<h3 class="on-point" ui-sref="home.weather.seven">7 DAY FORECAST</h3>
					<seven-weather></seven-weather>
				</div>
			</div>


			<div class="jumbotron section-5">
				<div id="nav-contain">
					<h2 class="on-point" ui-sref="home.sports">SPORTS</h2>
					<div class="well">
						<div ng-show="!showMoreSports">
							<div ng-repeat="s in sports|limitTo:10">
								<a target="_blank" href="{{s.url}}"><h4>{{s.title}}</h4></a>
							</div>
						</div>

						<div ng-show="showMoreSports">
							<div ng-repeat="s in sports|limitTo:20">
								<a target="_blank" href="{{s.url}}"><h4>{{s.title}}</h4></a>
							</div>
						</div>
						<button class="btn btn-block news-buttonz" ng-click="showMoreSports = !showMoreSports">SHOW/HIDE MORE HEADLINES</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
