.nav-container {
	padding-top: 15px;
	background-color: #337ab7;
	width: 100%;
	height: 75px;
}

.nav {
	padding-left: 15px;
}

.dashboard-section {
	box-sizing: border-box;
	border: 1px solid black;
	padding: 0px 15px 15px 15px;
}

.on-point {
	cursor: pointer;
}
.dropdown:hover .dropdown-menu {
display: block;
}