* {
	font-family: "Gotham Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif
}

/*login*/
.login-text, .login-subtext {
	font-family: "Allan", "Gotham Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 8em;
	color: white;
	text-align: center;
	margin-top: 0%;
}
.login-subtext {
	font-size: 2em;
	margin-bottom: 20%;
}
.mainer-container {
	background: url(login.jpg) #57767D;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding-top: 1%;
	padding-bottom: 25%;
}
.mainer-contain {
	background-color: #475072;
	width: 100%;
	height: 100%;
	padding-bottom: 25%;
}

.button-container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.buttonz {
	font-family: "Allan", "Gotham Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	color: #424242;
	background-color: #B4B4B4;
	border: 2px solid #0D0D0D;
	border-radius: 0px;
	width: 250px;
}
.buttonz:hover {
	font-family: "Allan", "Gotham Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	background-color: #3E3E3E;
	color: #C5C5C5;
	border: 2px solid #0D0D0D;
	border-radius: 0px;
}

/*nav bar*/
#nav-container {
	background-color: #475072;
	margin: 0 auto;
}
#nav-contain {
	width: 90%;
	margin: 0 auto;
}

.nav-buttonz {
	color: white;
	background-color: #475072;
	border-left: 1px solid #AA9988;
	border-right: 1px solid #AA9988;
	border-radius: 0px;
	width: 140px;
}
.nav-buttonz:hover {
	background-color: #303855;
	color: white;
	border-radius: 0px;
}
.news-buttonz, #task-button, .due-tomorrow, .past-due, .due-today, .due-date {
	color: white;
	background-color: #475072;
	border-left: 1px solid #AA9988;
	border-right: 1px solid #AA9988;
	border-radius: 0px;
}
.news-buttonz:hover, #task-button:hover {
	background-color: #303855;
	color: white;
	border-radius: 0px;
}
#task-button {
	border: none;
}
.due-tomorrow, .due-tomorrow:hover {
	background-color: #e8dd0d;
	cursor: default;
}
.due-today, .due-today:hover {
	background-color: #f99e16;
	cursor: default;
}
.past-due, .past-due:hover {
	background-color: #bf0707;
	cursor: default;
}
.due-date, .due-date:hover {
	background-color: #475072;
	cursor: default;
}
.task-date {
	color: #777;
	font-style: italic;
}
.task-heading {
	border-bottom: 1px solid #AA9988;
}


.main-heading, .section-1, .section-2, .section-3, .section-4, .section-5, .section-6, .section-twitter {
	background-color: #1D274B;
	color: white;
	margin-bottom: 0px;
}
.main-contain{
	padding: 10px;
	background-color: #F2F2F2;
}

.section-1 {
	background-color: #A88461;/*brown*/
}
.section-2 {
	background-color: #2F5E3C;/*green*/
}
.section-3 {
	background-color: #3D6068;/*blue*/
}
.section-4 {
	background-color: #7E5E3F;/*brown*/
}
.section-5 {
	background-color: #487E56;/*green*/
}
.section-6 {
	background-color: #28474E;/*blue*/
}
.section-twitter, .btn-twit {
	background-color: #55ACEE;
}

.abc {
	padding: 0;
}

.on-point {
	cursor: pointer;

}
.dropdown:hover .dropdown-menu {
display: block;
}

.well {
	border-radius: 0px;
	background-color: white;
	color: black;
}


/*twitter stuff*/

#tweet-compose-well {
	padding-bottom: 40px;
}
.tweet-compose {
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.btn-twit {
	color: white;
	float: right;
	margin-left: 10px;
}
#char-count {
	float: right;
	margin-top: 5px;
}
.twit-well {
	margin-bottom: 8px;
}
#twit {
	color: black;
}
#twit:hover {
	color: black;
	text-decoration: none !important;
}

#twitter-title {
	float: left;
}

.twitter-logo {
	padding-left: 0px;
}

#twitter-form {
	clear: both;
}

.twit-avatar {
	float: left;
}
#twit-username {
	margin-top: 5px;
}

.twit-name-contain {
	float: left;
}
.tweet-content {
	clear: both;
}
.warning {
	color: red;
}
.no-decoration, .no-decoration:hover {
	text-decoration: none !important;
	color: black;
}
.twit-title, .twit-title:hover {
	color: white;
}


/*home-page weather*/

#current-icon {
	margin: 0 auto;
	width: 50%;
}
#current-sum {
	font-size: 2.5em;
	color: black;
	margin-top: 10px;
}
#current-temp {
	font-size: 4em;
	color: black;
	margin-top: 0px;
}
.daily-icon-contain {
	height: 110px;
	position: relative;
}
#daily-icon {
	margin-top: 5px;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#daily-day {
	font-size: 2.5em;
	color: black;
	height: 50px;
  	line-height: 50px;
  	white-space: nowrap;
}

/*news and sports*/
.abstract {
	color: #777;
}
.news-well {
	margin-bottom: 2px;
}
