/*login*/

.login-contain {
	background-color: #57767D;
	width: 100%;
	height: 900px;
	padding-top: 12%;
}

.button-container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.buttonz {
	color: white;
	background-color: #475072;
	border: 2px solid #AA9988;
	border-radius: 0px;
	width: 250px;
}
.buttonz:hover {
	background-color: #303855;
	color: white;
	border: 2px solid #2B2B2B;
	border-radius: 0px;
}

/*nav bar*/
#nav-container {
	background-color: #475072;
	margin: 0 auto;
}
#nav-contain {
	width: 90%;
	margin: 0 auto;
}

.nav-buttonz {
	color: white;
	background-color: #475072;
	border-left: 1px solid #AA9988;
	border-right: 1px solid #AA9988;
	border-radius: 0px;
	width: 140px;
}
.nav-buttonz:hover {
	background-color: #303855;
	color: white;
	border-radius: 0px;
}
.news-buttonz, #task-button {
	color: white;
	background-color: #475072;
	border-left: 1px solid #AA9988;
	border-right: 1px solid #AA9988;
	border-radius: 0px;
}
.news-buttonz:hover, #task-button:hover {
	background-color: #303855;
	color: white;
	border-radius: 0px;
}
#task-button {
	border: none;
}


.main-heading, .section-1, .section-2, .section-3, .section-4, .section-5, .section-6, .section-twitter {
	background-color: #1D274B;
	color: white;
	margin-bottom: 0px;
}
.main-contain{
	padding: 10px;
	background-color: #F2F2F2;
}

.section-1 {
	background-color: #A88461;/*brown*/
}
.section-2 {
	background-color: #2F5E3C;/*green*/
}
.section-3 {
	background-color: #3D6068;/*blue*/
}
.section-4 {
	background-color: #7E5E3F;/*brown*/
}
.section-5 {
	background-color: #487E56;/*green*/
}
.section-6 {
	background-color: #28474E;/*blue*/
}
.section-twitter, .btn-twit {
	background-color: #55ACEE;
}

.abc {
	padding: 0;
}

.on-point {
	cursor: pointer;

}
.dropdown:hover .dropdown-menu {
display: block;
}

.well {
	border-radius: 0px;
	background-color: white;
	color: black;
}


/*twitter stuff*/

#twit {
	color: black;

}
#twit:hover {
	color: black;
	text-decoration: none !important;
}

#twitter-title {
	float: left;
}

#twitter-logo {
	float: right;
	padding-top: 10px;
}

#twitter-form {
	clear: both;
}

.twit-avatar {
	float: left;
}

.twit-name-contain {
	float: left;
}
.tweet-content {
	clear: both;
}


/*home-page weather*/

#current-icon {
	margin: 0 auto;
	width: 50%;
}
#current-sum {
	font-size: 2.5em;
	color: black;
	margin-top: 10px;
}
#current-temp {
	font-size: 4em;
	color: black;
	margin-top: 0px;
}
.daily-icon-contain {
	height: 110px;
	position: relative;
}
#daily-icon {
	margin-top: 5px;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#daily-day {
	font-size: 2.5em;
	color: black;
	height: 50px;
  	line-height: 50px;
  	white-space: nowrap;
}