<div class="container">
	<div class="row nav">
		<button class="btn btn-primary btn-sm" ng-model="news" uib-btn-radio="'all'" ui-sref="home.news.all">ALL</button>
		<button class="btn btn-primary btn-sm" ng-model="news" uib-btn-radio="'world'" ui-sref="home.news.world">WORLD</button>
		<button class="btn btn-primary btn-sm" ng-model="news" uib-btn-radio="'national'" ui-sref="home.news.national">NATIONAL</button>
		<button class="btn btn-primary btn-sm" ng-model="news" uib-btn-radio="'politics'" ui-sref="home.news.politics">POLITICS</button>
		<button class="btn btn-primary btn-sm" ng-model="news" uib-btn-radio="'business'" ui-sref="home.news.business">BUSINESS</button>
		<button class="btn btn-primary btn-sm" ng-model="news" uib-btn-radio="'technology'" ui-sref="home.news.technology">TECHNOLOGY</button>
		<button class="btn btn-primary btn-sm" ng-model="news" uib-btn-radio="'opinion'" ui-sref="home.news.opinion">OPINION</button>
		<button class="btn btn-primary btn-sm" ng-model="news" uib-btn-radio="'health'" ui-sref="home.news.health">HEALTH</button>
		<button class="btn btn-primary btn-sm" ng-model="news" uib-btn-radio="'arts'" ui-sref="home.news.arts">ARTS</button>
		<button class="btn btn-primary btn-sm" ng-model="news" uib-btn-radio="'fashion'" ui-sref="home.news.fashion">FASHION</button>
		<button class="btn btn-primary btn-sm" ng-model="news" uib-btn-radio="'travel'" ui-sref="home.news.travel">TRAVEL</button>
	</div>
</div><br>
