<br>
<div class="container">
	<div class="row nav col-md-10">
		<div class="btn-block">
			<button class="btn btn-lg btn-primary" ng-model="nav" uib-btn-radio="'HOME'" ui-sref="home.dashboard">HOME</button>

			<div class="btn-group" uib-dropdown>
				<button class="btn btn-lg btn-primary" uib-dropdown-toggle>WEATHER <span class="caret"></span></button>
					<ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
						<li role="menuitem"><a ui-sref="home.weather.current">CURRENT</a></li>
						<li role="menuitem"><a ui-sref="home.weather.seven">7 DAY FORECAST</a></li>
						<li role="menuitem"><a ui-sref="home.weather.hourly">HOURLY FORECAST</a></li>
						<li role="menuitem"><a ui-sref="home.weather.lookup">SEARCH DIFFERENT LOCATION</a></li>
					</ul>
				<button ng-show="w.alerts" class="btn btn-danger btn-lg" ng-click="showAlert = !showAlert" >!</button>
			</div>

			<div class="btn-group" uib-dropdown>
			    <button class="btn btn-lg btn-primary" uib-dropdown-toggle>NEWS <span class="caret"></span></button>
			    	<ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
				        <li role="menuitem"><a ui-sref="home.news.all">ALL</a></li>
				        <li role="menuitem"><a ui-sref="home.news.world">WORLD</a></li>
				        <li role="menuitem"><a ui-sref="home.news.national">NATIONAL</a></li>
				        <li role="menuitem"><a ui-sref="home.news.politics">POLITICS</a></li>
				        <li role="menuitem"><a ui-sref="home.news.business">BUSINESS</a></li>
				        <li role="menuitem"><a ui-sref="home.news.technology">TECHNOLOGY</a></li>
				        <li role="menuitem"><a ui-sref="home.news.opinion">OPINION</a></li>
				        <li role="menuitem"><a ui-sref="home.news.health">HEALTH</a></li>
				        <li role="menuitem"><a ui-sref="home.news.arts">ARTS</a></li>
				        <li role="menuitem"><a ui-sref="home.news.fashion">FASHION</a></li>
				        <li role="menuitem"><a ui-sref="home.news.travel">TRAVEL</a></li>
			      	</ul>
			</div>
			<div class="btn-group" uib-dropdown>
				<button class="btn btn-lg btn-primary" uib-dropdown-toggle>TO-DO LIST <span class="caret"></span></button>
			   		<ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
				        <li role="menuitem"><a ui-sref="todo.active">ACTIVE</a></li>
				        <li role="menuitem"><a ui-sref="todo.complete">COMPLETED</a></li>
				        <li role="menuitem"><a ui-sref="todo.add">ADD</a></li>
				    </ul>
			</div>

			<button class="btn btn-lg btn-primary" ng-model="nav" uib-btn-radio="'SPORTS'" ui-sref="home.sports">SPORTS</button>
		</div>
	</div>
</div>
